*~
*.tmp
*.bak

data/*
web/*
/local/web/nbproject/private/
local/data/
local/web/
.idea/

local/web/adminer.php
local/web/modules/contrib/
local/web/sites/default/files/
local/web/sites/default/settings.php
local/web/vendor/